@model List<Bloc_CESI_ASP.Models.Employee>

<h1>Employees</h1>
@if (Context.Request.Cookies.ContainsKey("userToken"))
{
   <a href="/admin/Employees/Add" class="btn btn-primary mb-5">Add</a>
}


<table class="table">
   <thead>
   <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Landline phone</th>
      <th>Mobile phone</th>
      <th>Email</th>
      <th>Service</th>
      <th>Site</th>
      <th></th>
   </tr>
   </thead>
   <tbody>
      @foreach (var employee in Model)
      {
         <tr>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.LandlinePhone</td>
            <td>@employee.MobilePhone</td>
            <td>@employee.Email</td>
            <td>@employee.Service</td>
            <td>@employee.Site</td>
            @if (Context.Request.Cookies.ContainsKey("userToken"))
            {
               <td><a href="View/@employee.Id">View</a></td>
            }
         </tr>
      }
   </tbody>

</table>
