@model List<Bloc_CESI_ASP.Models.Employee>

<h1>Employees</h1>

<table class="table">
   <thead>
   <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Landline phone</th>
      <th>Mobile phone</th>
      <th>Email</th>
      <th>Service</th>
      <th>Site</th>
      <th></th>
   </tr>
   </thead>
   <tbody>
      @foreach (var employee in Model)
      {
         <tr>
            <td>@employee.FirstName</td>
            <td>@employee.LastName</td>
            <td>@employee.LandlinePhone</td>
            <td>@employee.MobilePhone</td>
            <td>@employee.Email</td>
            <td>@employee.Service</td>
            <td>@employee.Site</td>
            <td><a href="Employees/View/@employee.Id">View</a></td>
         </tr>
      }
   </tbody>

</table>
